{% extends 'comments/comment_base.html' %}
{% load staticfiles %}

{%  block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/post.css' %}">


{%  endblock %}

{%  block content %}
<div class="col-xs-7 col-sm-7 col-md-9">

    <div class="col-xs-12 col-sm-12 col-md-12" style="clear:both">
    <div class="media thumbnail mytrans" style="padding: 20px 0;">
    <header class="header">
        <div class="logo">
            <span class="big">游客留言</span>
            <span>1.0</span>
        </div>
        <a href="{% url 'comments:write' %}" class="write">留言</a>
        <a href="{% url 'blog:index' %}" class="write">返回首页</a>
    </header>
    <div class="container">
        <ul>
            {% for post in object_list %}
                <li class="post">
                    <p class="content">{{ post.text }}</p>
                    <p class="name">By {{ post.name }} {{post.date|date:'Y/m/d H:i'}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    </div>
    </div>

</div>


{% endblock %}