{% load staticfiles %}

{% load blog_tags %}

<!DOCTYPE html>
<html lang="zh-cn">
<head>

    <title>{% block title %}{% endblock title %}</title>
    {% block meta %}{% endblock meta %}
    <link rel="shortcut icon" href="{% static 'img/ppawn.jpg' %}">

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/highlights/github.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">


    <!-- js -->
    <script src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <style>
        span.highlighted {
            color: red;
        }
    </style>

</head>

<body>

{% include 'header.html' %}

{% block main %}{% endblock main %}

{% include 'footer.html' %}

<!-- Mobile Menu -->
<div class="overlay overlay-hugeinc">
    <button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
    <nav>
        <ul>
            <li><a href="{% url 'blog:index' %}" style="font-family: KaiTi;">首页</a></li>
            <li><a href="{% url 'blog:index' %}" style="font-family: KaiTi;">文章随笔</a></li>
            <li><a href="{% url 'blog:blog_about' %}" style="font-family: KaiTi;">关于自己</a></li>
            <li><a href="{% url 'comments:url_name_home' %}" style="font-family: KaiTi;">游客留言</a></li>
        </ul>
    </nav>
</div>

<script src="{% static 'js/script.js' %}"></script>

</body>

</html>